@use "../../styles/variables.scss" as *;
.Temas{
    .primero{
        .butonT{
            border-radius: 4px;
            background-color: rgba($white2, 1);
            border: solid 3px rgba($primary-color, 0.4);
            cursor: pointer;
            .letras{
                color: $secondary-color
            }
            .flechita{
                color: $primary-color;
            }
        }
        .listado{
            background-color: rgba($white2, 1);
            border: solid 3px rgba($primary-color, 0.4);
            border-radius: 4px;
            button{
                &:hover{
                    background-color: rgba($primary-color, 0.2);
                    cursor: pointer;
                }
                .nombre{
                    color: $text-color
                }
                .check{
                    color: $naranaOscuro
                }
            }
        }
    }
}