@use "../../styles/_themes.scss" as *;
.Temas{
    .primero{
        .butonT{
            border-radius: 4px;
            background-color: var(--white2);
            color: var(--secondary-color2);
            border: solid 3px color-mix(in srgb, var(--primary-color) 40%, transparent);
            cursor: pointer;
            .letras{
                color: var(--secundary-color);
            }
            .flechita{
                color: var(--primary-color);
            }
        }
        .listado{
            background-color: var(--white2);
            border: solid 3px color-mix(in srgb, var(--primary-color) 40%, transparent);
            border-radius: 4px;
            button{
                &:hover{
                    background-color: color-mix(in srgb, var(--primary-color) 20%, transparent);
                    cursor: pointer;
                }
                .nombre{
                    color: var(--secondary-color2);
                }
                .check{
                    color: var(--naranaOscuro);
                }
            }
            .seleccionado{
                background-color: var(--secondary-color4);
                .nombre{
                    color: var(--primary-color2);
                }
            }
        }
    }
}