:root {
    --primary-color: #000054;
    --primary-color2: #018abd;
    --primary-color3: #0d04a6;
    --primary-color4: #1407cf;

    --secondary-color: #000000;
    --secondary-color2: #03121d;
    --secondary-color3: #dbe1e6;
    --secondary-color4: #05243a;

    --naranaj: #FCA622;
    --naranaOscuro: #da9028;

    --white: #f5f5f5;
    --white2:rgb(255, 255, 255);
    --text-color: #333;
    --dark: #1d1d1d;
}

.tema-oscuro {
    --primary-color: #ffffff;
    --primary-color2: #0546a8;
    --primary-color3: #0d04a6;
    --primary-color4: #1407cf;

    --secondary-color: #949494;
    --secondary-color2: #ffffff;
    --secondary-color3: #041b2c;
    --secondary-color4: #05243a;

    --naranaj: #226efc;
    --naranaOscuro: #163a70;

    --white: #0c0c0c;
    --white2:#171717;
    --text-color: #c2c2c2;
    --dark: #ffffff;
}

.tema-violeta {
    --primary-color: #4e0749;
    --primary-color2: #7d0e7d;
    --primary-color3: #7d0e7d;
    --primary-color4: #1f0015;

    --secondary-color: #e0dbdb;
    --secondary-color2: #d4d4d4;
    --secondary-color3: #c5b5d6;
    --secondary-color4: #6e4279;

    --naranaj: #fc22f1;
    --naranaOscuro: #bc28da;

    --white: #1f0015;
    --white2: #351135;
    --text-color: #ffffff;
    --dark: #2b1832;
}

.tema-rojo {
    --primary-color: #74000de6;
    --primary-color2: #8d0904;
    --primary-color3: #b11208;
    --primary-color4: #1f0015;

    --secondary-color: #351e1e;
    --secondary-color2: #201e1e;
    --secondary-color3: #c5b5d6;
    --secondary-color4: #dd7514;

    --naranaj: #de4f33;
    --naranaOscuro: #eb7424;

    --white: #f5f5f5;
    --white2: #ffffff;
    --text-color: #141111;
    --dark: #3d0f0f;
}

.tema-camila {
    --primary-color: #142910;
    --primary-color2: #0f1f0c;
    --primary-color3: #2fb108;
    --primary-color4: #1f0015;

    --secondary-color: #e9f0e8;
    --secondary-color2: #f7f3f3;
    --secondary-color3: #476643;
    --secondary-color4: #1c4e24;

    --naranaj: #4b8b3e;
    --naranaOscuro: #2a8a16;

    --white: #2d5d24;
    --white2: #193015;
    --text-color: #dce2d8;
    --dark: #133514;
}
