@import "tailwindcss";
@theme {
  --color-mint-500: oklch(0.72 0.11 178);
}
/* Asegurar que todo ocupe el ancho completo */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  /* font-family: "Big Shoulders Stencil", sans-serif; */
  /* background-image: url('../assets/imagenes/uno.jpg'); */
  /* background-image: url('../assets/imagenes/dos.jpg'); */
  /* background-image: url('../assets/imagenes/tres.jpg'); */
  /* background-image: url('../assets/imagenes/cuatro.jpg'); */
  background-size: cover;
  background-position: center;

}

/* Quitar el centrado que está causando el problema */
body {
  display: block;
  background-color: white;
}
