:root {
    --primary-color: #000054;
    --secondary-color: #000000;
    --text-color: #333;
    --bg-color: #ffffff;
}

.tema-oscuro {
    --primary-color: #1407cf;
    --secondary-color: #ffffff;
    --text-color: #e0e0e0;
    --bg-color: #000000;
}

.tema-violeta {
    --primary-color: #6a0dad;
    --secondary-color: #ece0ff;
    --text-color: #2a003f;
    --bg-color: #f7f0ff;
}
