@use "../../styles/variables.scss" as *;
@use "../../styles/_themes.scss";
// components/popupContacto.scss

.popup-overlay {
    background-color: color-mix(in srgb, var(--secondary-color) 60%, transparent);
    backdrop-filter: blur(5px);
    animation: fadeIn 0.3s ease-out;
    .popup-content {
        background-color: var(--white2);
        box-shadow: 0 10px 25px color-mix(in srgb, var(--secondary-color) 10%, transparent);
        animation: slideUp 0.4s ease-out;
        .close-btn{
            cursor: pointer;
            background-color: color-mix(in srgb, var(--naranaj) 30%, transparent);
            border-radius: 4px;
            svg{
                color: var(--naranaj)
            }
        }
        .gradient-text {
            background: linear-gradient(10deg, var(--primary-color), var(--primary-color2));
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }
        .iconito{
            color: var(--secondary-color);
        }
        .form-input, .form-textarea {
            border: 2px solid var(--white2);
            border-radius: 8px;
            transition: all 0.3s;
            background-color: var(--white);
            color: var(--secondary-color);
            border-left: solid 6px var(--naranaj);
            &:focus {
                outline: none;
                border-color: var(--primary-color3);
                box-shadow: 0 0 0 3px color-mix(in srgb, var(--primary-color) 20%, transparent);
            }
        }
        .form-textarea {
            resize: none;
        }        
        .submit-button {
            background: linear-gradient(90deg, var(--primary-color), var(--primary-color2));
            color: var(--secondary-color3);
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: all 0.3s;
            
            &:hover {
                transform: translateY(-2px);
            }
            
            &:active {
                transform: translateY(0);
            }
        }
        .reset-button {
            background-color: color-mix(in srgb, var(--white2) 70%, transparent);
            color: var(--secondary-color);
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: all 0.3s;
            border: 2px solid color-mix(in srgb, var(--secondary-color) 20%, transparent);
            
            &:hover {
                transform: translateY(-2px);
            }
            
            &:active {
                transform: translateY(0);
            }
        }
    }
}
.color-dots {
    position: absolute;
    z-index: -1;
}

.dot {
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
    
    &.dot-1 {
        width: 200px;
        height: 200px;
        background: linear-gradient(135deg, var(--primary-color2), var(--primary-color));
        top: -100px;
        right: -800px;
        filter: blur(10px);
    }
    
    &.dot-2 {
        width: 300px;
        height: 200px;
        background: linear-gradient(135deg, var(--primary-color), var(--primary-color2));
        top: -40px;
        left: -80px;
        filter: blur(10px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}