// src/styles/navbar.scss
@use "../styles/variables.scss" as *;

.Inicio {
    color: rgba($primary-color, 0.8);
    .textual{
        .textualUno{
            color: #52525c;
        }
        .textualDos{
            border-left: 2px solid #969696;
        }
        .otroP{
            button{
                background-color: rgba($primary-color2, 1);
                border-radius: 4px;
                box-shadow: -4px 4px 0px 0px rgba($secondary-color, 0.7);
                color: $white;
                cursor: pointer;
                &:hover{
                    background-color: rgba($primary-color, 1);
                    box-shadow: 0px 0px 0px 4px rgba($secondary-color, 0.4);
                }
            }
        }
    }
    .derecha{
        background-color: #3F3F46;
        border-radius: 10px;
        .unidad{
            .imagen{
                border-radius: 10px;
                overflow: hidden;
                border: solid 6px rgba($secondary-color, 0.6);
            }
            .cuadrado{
                background-color: rgba($primary-color2, 1);
                border-radius: 6px;
            }
        }
    }
}
