@use "../styles/variables.scss" as *;
@use "../styles/_themes.scss";
.movil{
    .fondo{
        background-image: linear-gradient(
            to bottom right,
            color-mix(in srgb, var(--secondary-color3) 100%, transparent),
            color-mix(in srgb, var(--secondary-color3) 100%, transparent),
            color-mix(in srgb, var(--secondary-color3) 100%, transparent)
        );
    }
    .arriba{
        border-color: color-mix(in srgb, var(--secondary-color) 20%, transparent);
        span:last-child{
            color: var(--secondary-color);                
        }
        span:first-child{
            color: var(--primary-color);                
        }
        button{
            background-color: var(--primary-color);
            svg{
                color: var(--white2);
            }
        }
    }
    nav{
        .pere{
            background-color: color-mix(in srgb, var(--white2) 60%, transparent);
            .icono{
                background-color: color-mix(in srgb, var(--naranaj) 20%, transparent);
                svg{
                    color: var(--naranaj);
                }
            }
            span{
                color: var(--text-color);
            }
        }
        .fondo2{
            background-color: color-mix(in srgb, var(--white2) 60%, transparent);
            .icono{
                div{
                    background-color: color-mix(in srgb, var(--primary-color2) 20%, transparent);
                    svg{
                        color: var(--primary-color2);
                    }
                }
                span{
                    color: var(--text-color);
                }
            }
            .submenu{
                background-color: color-mix(in srgb, var(--primary-color2) 20%, transparent);
                a{
                    background-color: color-mix(in srgb, var(--primary-color2) 20%, transparent);                   
                    div{
                        color: var(--secondary-color);
                    }
                    span{
                        color: var(--secondary-color);                        
                    }
                    &:last-child{
                        background-color: var(--white2);
                        color: var(--primary-color2);
                        span{
                            color: var(--primary-color);
                        }
                    }
                }
            }
        }
    }
    .botones{
        border-color: color-mix(in srgb, var(--secondary-color) 20%, transparent);
        div{
            button{
                &:first-child{
                    background-color: color-mix(in srgb, var(--primary-color) 20%, transparent);
                    color: var(--primary-color);
                }
                &:last-child{
                    background-color: color-mix(in srgb, var(--primary-color) 100%, transparent);
                    color: var(--white2);
                }
            }
        }
    }
}