// src/styles/navbar.scss
@use "../styles/variables.scss" as *;
@use "../styles/_themes.scss";
header {
    background-color: var(--white);
    border-bottom: color-mix(in srgb, var(--secondary-color) 20%, transparent) solid 3px;
    .contentLogo{
        .logo {
            line-height: 1;
            background-color: var(--primary-color);
            border-radius: 10px;
            color: var(--white);
            padding: 14px;
        }
        .nombre{
            line-height: 1;
            color: var(--secondary-color);
        }
    }

    nav { 
        font-weight: 500;
        a {
            text-decoration: none;
            transition: color 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--secondary-color2);
            svg{
                margin-left: 10px;
            }
            &:hover {
                color: var(--primary-color2);
            }
        }
        .submenu{
            color: var(--secondary-color2);
            button{
                cursor: pointer;
                &:hover {
                    color: var(--primary-color2);
                }
            }
            .contenedorSub{
                background-color: var(--white2);
                box-shadow: 0 10px 15px -3px color-mix(in srgb, var(--secondary-color) 20%, transparent), 0 4px 6px -4px color-mix(in srgb, var(--secondary-color) 20%, transparent);
                border-radius: 10px;
                border: solid 4px var(--white);
                z-index: 50;
                .flechita{
                    width: 40px;
                    height: 40px;
                    background-color: var(--white2);
                    border-top: 1px solid var(--white);
                    border-left: 1px solid var(--white);
                }
                .contenido{
                    .izquierda{
                        border-right: 4px solid var(--white);
                        .titular{
                            color: color-mix(in srgb, var(--secondary-color) 40%, transparent);
                            padding-bottom: 20px;
                            border-bottom: 4px solid var(--white);
                        }
                        a{
                            &:hover{
                                background-color: color-mix(in srgb, var(--primary-color) 40%, transparent);
                                color: var(--primary-color);
                                .textito{
                                    p{
                                        color: var(--white);
                                    }
                                }
                            }
                            .iconico{
                                background-color: var(--primary-color);
                                border-radius: 4px;
                                div{
                                    svg{
                                        width: auto;
                                        margin-left: 0px;
                                        color: var(--white);
                                    }
                                }
                            }
                            .textito{
                                p{
                                    color: var(--text-color);
                                }
                            }
                        }
                    }
                    .derecha{
                        .conjunto{
                            .libre{
                                color: color-mix(in srgb, var(--secondary-color) 60%, transparent);
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .botones{
        font-size: 1.25rem;
        line-height: 1.4;
        .botonesOne{
            background-color: color-mix(in srgb, var(--primary-color2) 20%, transparent);
            color: var(--primary-color2);
            padding: 10px 10px;
            border-radius: 6px;
            cursor: pointer;
            &:hover{
                box-shadow: -4px 4px 0px 0px color-mix(in srgb, var(--primary-color2) 40%, transparent);
            }
        }
        .botonesTwo{
            background-color: var(--primary-color2);
            color: var(--white);
            padding: 10px 10px;
            border-radius: 6px;
            cursor: pointer;
            text-align: center;
            &:hover{
                background-color: var(--primary-color);
                box-shadow: -4px 4px 0px 0px color-mix(in srgb, var(--primary-color) 40%, transparent);
            }
        }
    }
}
