// src/styles/navbar.scss
@use "../styles/variables.scss" as *;

header {
    background-color: $white;
    border-bottom: rgba($secondary-color, 0.2) solid 3px;
    // padding: 22px;
    .contentLogo{
        .logo {
            // font-size: 2.4rem;
            line-height: 1;
            background-color: $primary-color;
            border-radius: 10px;
            color: $white;
            padding: 14px;
        }
        .nombre{
            // font-size: 2.25rem;
            line-height: 1;
        }
    }

    nav { 
        padding: 16px;  
        font-weight: 500;
        a {
            text-decoration: none;
            transition: color 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                margin-left: 10px;
            }
            &:hover {
                color: $primary-color2;
            }
        }
        .submenu{
            button{
                cursor: pointer;
                &:hover {
                    color: $primary-color2;
                }
            }
            .contenedorSub{
                background-color: rgba($white2, 1);
                // background-image: url('../assets/i}magenes/uno.jpg');
                box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                border: solid 4px $white;
                z-index: 50;
                .flechita{
                    width: 40px;
                    height: 40px;
                    background-color: rgba($white2, 1);
                    border-top: 1px solid $white;
                    border-left: 1px solid $white;
                }
                .contenido{
                    .izquierda{
                        border-right: 4px solid rgba($white, 1);
                        .titular{
                            color: rgba($secondary-color, 0.4);
                            padding-bottom: 20px;
                            border-bottom: 4px solid rgba($white, 1);
                        }
                        a{
                            &:hover{
                                background-color: rgba($primary-color, 0.4);
                                color: rgba($primary-color, 1);
                                .textito{
                                    p{
                                        color: rgba($white, 1);
                                    }
                                }
                            }
                            .iconico{
                                background-color: rgba($primary-color, 1);
                                border-radius: 4px;
                                div{
                                    svg{
                                        width: auto;
                                        margin-left: 0px;
                                        color: $white;
                                    }
                                }
                            }
                            .textito{
                                p{
                                    color: #494949;
                                }
                            }
                        }
                    }
                    .derecha{
                        .conjunto{
                            .libre{
                                color: rgba($secondary-color, 0.6);
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .botones{
        font-size: 1.25rem;
        line-height: 1.4;
        .botonesOne{
            background-color: rgba($primary-color2, 0.2);
            color: $primary-color2;
            padding: 10px 10px;
            border-radius: 6px;
        }
        .botonesTwo{
            background-color: rgba($primary-color2, 1);
            color: $white;
            padding: 10px 10px;
            border-radius: 6px;
        }
    }
}
